<!--The content below is only a placeholder and can be replaced.-->
<div id="pageWrapper" class="page-wrapper">
      <!-- [Header] -->
      <div class="main-header" id="mainHeader">
        <!-- Header Menu -->
              <div class="header-menu bg-blue">
                <div class="container">
                    <nav class="nav-bar">
                        <div id="header-navbar" class="nav-collapse">
                            <ul class="nav-menu">
                                <li class="active">
                                    <a href="index.html">Home</a>
                                </li>
                                <li >
                                    <a href="index.html">Products</a>        
                                </li>
                                <li>
                                    <a href="index.html">Company</a>
                                </li>
                                <li>
                                    <a href="index.html">Documents</a>
                                </li>
                                <li>
                                    <a href="index.html">Contact Us</a>
                                </li>
                             
                            </ul>
                        </div>
                        
                    </nav>
                </div>
              </div>
              <!-- End Header Menu -->
      </div>
      <!-- [End Header] -->

      <!-- [Page Content] -->
      <div class="main-content" id="mainContent">
        <div class="page-container ptb-10">
          <div class="container">
            <section class="section latest-deals-area ptb-30">
              <header class="panel ptb-15 prl-20 pos-r mb-30">
                <h3 class="section-title font-18">Products List</h3>
                
              </header>
              <div class="row row-masnory row-tb-20">
              <div class="col-sm-6 col-lg-4">
                <div class="deal-single panel">
                  <figure class="deal-thumbnail embed-responsive embed-responsive-16by9" data-bg-img="images/timg.jpg" style="background-image: url(images/timg.jpg);">
                    <div class="label-discount left-20 top-15" style="font-weight: 700">New</div>
                  </figure>
                  <div class="bg-white pt-20 pl-20 pr-15">
                    <div class="pr-md-10">
                      
                      <h3 class="deal-title mb-10">
                        <a href="index.html">Lorem ipsum dolor sit amet</a>
                      </h3>
                      
                      <p class="text-muted mb-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam numquam nostrum.</p>
                    </div>
                    <div class="mb-15" style="padding-bottom: 20px;text-align: right;">
                      <button class="btn ">Add</button>
                      <button class="btn btn-info">Buy</button>
                      <!-- <h3 class="price ptb-5 text-right"><span class="price-sale">$300.00</span>$150.00</h3> -->
                    </div>
                  </div>
                </div>
              </div>
              </div>

          </section>
          </div>
        </div>
      </div>
      <!-- [End Page Content] -->
    </div>

